<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../Static/js/layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<!--编辑员工信息表单-->
<form id="edit-admin" style="display: none;"  class="layui-form">
    <div>
        <div class="layui-form-item">
            <label class="layui-form-label">ID：</label>
            <div class="layui-input-block" >
                <input id="bd_id" type="text" readonly="true" style="width:200px; height:40px;" name="title" required  lay-verify="required" autocomplete="off" class="layui-input">
                <div class="layui-form-mid layui-word-aux">ID 不可编辑</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-block" >
                <input id="bd_name" type="text" style="width:200px; height:40px;" name="title" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-block">
                <input id="bd_username" type="text" style="width:200px; height:40px;" name="title" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-block">
                <input id="bd_man" type="radio" name="sex" value="男" title="男">
                <input id="bd_woman" type="radio" name="sex" value="女" title="女" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" >类型：</label>
            <div class="layui-input-block" style="width:200px; height:40px;">
                <select id="bd_employee_type" lay-verify="required">
                    <option value="0">理发师</option>
                    <option value="1">服务员</option>
                    <option value="2">洗头师</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号：</label>
            <div class="layui-input-block" style="width:200px; height:40px;">
                <input id="bd_phone" type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工资：</label>
            <div class="layui-input-block" style="width:200px; height:40px;">
                <input id="bd_salary" type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">更新人：</label>
            <div class="layui-input-block" style="width:200px; height:40px;">
                <input id="bd_update_staff" type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</form>

<button type="button" class="layui-btn">添加员工</button>

<table class="layui-hide" id="test" lay-filter="test2"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">
        <i class="layui-icon">&#xe642;</i>编辑
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon">&#xe640;</i>删除
    </a>
</script>

<script src="../../Static/js/layui/layui.js" charset="utf-8"></script>

<script>
  layui.use(['table', 'form'], function(){
    var table = layui.table;
    var $ = layui.$;
    var form = layui.form;

    table.render({
      elem: '#test'
      ,url:'http://0.0.0.0:9501/Admin/index'
      ,parseData: function (res) {
        return {
          code: 0,
          msg: res.msg,
          count: res.result.count,
          data: res.result.data
        };
      }
      ,cols: [[
        {field:'id', title: 'ID',align: 'center'}
        ,{field:'name',title: '姓名',align: 'center'}
        ,{field:'username', title: '用户名',align: 'center'}
        ,{field:'sex_txt',title: '性别',align: 'center'}
        ,{field:'employee_type_txt', title: '类型',align: 'center'}
        ,{field:'phone', title: '手机号',width:120,align: 'center'}
        ,{field:'salary', title: '工资',align: 'center'}
        ,{field:'create_staff',title: '创建人',align: 'center'}
        ,{field:'update_staff',title: '更新人',align: 'center'}
        ,{field:'create_time', title: '创建时间',width:170,align: 'center'}
        ,{field:'update_time', title: '更新时间',width:170,align: 'center'}
        ,{field:'opt', title: '操作',width:178,fixed: 'right',toolbar: '#barDemo',align: 'center'}
        ]]
      ,page: true,
    });

    //监听行工具事件
    table.on('tool(test2)', function(obj){  //注：tool是工具条事件名，test2 是 table 原始容器的属性 lay-filter="对应的值"
      //将PHP生成的json字符串赋值给js变量
      var data = obj.data;  //员工列表中{data}下的全部数据,即本条记录信息
      console.log(obj);
      //点击'删除'按钮
      if(obj.event === 'del'){
        layer.confirm('是否删除本条员工信息？', function(index) {
          layer.close(index);  //关闭弹框
          $.ajax({
            type: "POST",
            url: "http://0.0.0.0:9501/admin/delete",
            data: {id: data.id},
            success: function (result) {
              layer.msg(result.msg);
            },
            error: function (result) {
              layer.msg(result.responseJSON.msg, {icon: 5});
            }
          });
        })
        //点击'编辑'按钮,获取员工列表的字段值填充到表单
      } else if(obj.event === 'edit'){
        //console.log(data.name);
        var bd_id = $("#bd_id").val(data.id);
        var bd_name = $("#bd_name").val(data.name);  //获取员工列表的姓名字段值
        var bd_username = $("#bd_username").val(data.username);
        var bd_phone = $("#bd_phone").val(data.phone);
        var bd_salary = $("#bd_salary").val(data.salary);
        var bd_update_staff = $("#bd_update_staff").val(data.update_staff);
        //'性别'单选框
        if (data.sex === 0) {
          var bd_sex = $('#bd_woman').prop("checked",true);
        } else {
          var bd_sex = $('#bd_man').prop("checked", true);
        }
        //'类型'下拉列表
        if(data.employee_type === 0){
          var bd_employee_type = $("#bd_employee_type").val(0);   // 设置Select的Value值为0的项选中
        }else if(data.employee_type === 1) {
          var bd_employee_type =  $("#bd_employee_type ").val(1);
        }
        else{
          var bd_employee_type = $("#bd_employee_type ").val(2);
        }
        form.render();  //更新全部，不然看不到效果

        layer.open({
          title: '编辑员工信息',
          type: 1,
          content: $("#edit-admin"),    // 设置跳转的url，跳转到对应的页面
          area: ['440px','580px'],
          skin: 'layui-layer-molv',       // 墨绿色皮肤
          btn: ['提交','取消'],
          yes: function (index,layero) {
            var formData = $("#edit-admin").serializeArray();  //获取表单参数
            console.log(formData);

          }
        });
      }
    });

  });
</script>

</body>
</html>
