<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .service-panel {
            display:inline-block;margin:10px;width: 300px;height:300px;border: 1px solid #00F7DE;
        }
    </style>
</head>
<body>

<div style="padding:10px; border: 1px solid #00FF00;">
    <div class="service-panel">
        <img style="width: 280px;height:200px;" src="https://www.baidu.com/img/bd_logo1.png?where=super">
        <div>发型名称</div>
        <div>价格</div>
        <div>简介</div>
    </div>
    <div class="service-panel">
        <img style="width: 280px;height:200px;" src="https://www.baidu.com/img/bd_logo1.png?where=super">
        <div>发型名称</div>
        <div>价格</div>
        <div>简介</div>
    </div>
    <div class="service-panel">
        <img style="width: 280px;height:200px;" src="https://www.baidu.com/img/bd_logo1.png?where=super">
        <div>发型名称</div>
        <div>价格</div>
        <div>简介</div>
    </div>
    <div class="service-panel">
        <img style="width: 280px;height:200px;" src="https://www.baidu.com/img/bd_logo1.png?where=super">
        <div>发型名称</div>
        <div>价格</div>
        <div>简介</div>
    </div>
</div>


  </body>

</html>
