<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../Static/js/layui/css/layui.css"  media="all">
    <style>
        .service-panel {
            display:inline-block;margin:15px;width: 300px;height:285px;border: 1px solid #00F7DE;
        }

        #steps {
        }

        .step-item {
            display: inline-block;
            line-height: 26px;
            position: relative;
            background: #ffffff;
        }

        .step-item-tail {
            width: 100%;
            padding: 0 10px;
            position: absolute;
            left: 0;
            top: 13px;
        }

        .step-item-tail i {
            display: inline-block;
            width: 100%;
            height: 1px;
            vertical-align: top;
            background: #c2c2c2;
            position: relative;
        }
        .step-item-tail-done {
            background: #009688 !important;
        }

        .step-item-head {
            position: relative;
            display: inline-block;
            height: 26px;
            width: 26px;
            text-align: center;
            vertical-align: top;
            color: #009688;
            border: 1px solid #009688;
            border-radius: 50%;
            background: #ffffff;
        }

        .step-item-head.step-item-head-active {
            background: #009688;
            color: #ffffff;
        }

        .step-item-main {
            background: #ffffff;
            display: block;
            position: relative;
        }

        .step-item-main-title {
            font-weight: bolder;
            color: #555555;
        }
        .step-item-main-desc {
            color: #aaaaaa;
        }
    </style>
</head>
<body>
<!--面包屑-->
<div style="padding: 10px 0 0 10px;" class="layui-breadcrumb">
    <a href="javascript:void(1);">消费收银</a>
    <a href="javascript:void(1);"><cite>选择服务</cite></a>
</div>

<div style="padding: 20px;">
    <div style="padding: 20px 0 20px 10%;" id="steps"></div>
    <!--  第1步  -->
    <div id="steps-one">
        <!--存放图片面板-->
        <div style="padding:10px; border: 1px solid #00FF00;" class="panel-container"></div>
        <!--分页-->
        <div id="pages"></div>
    </div>
    <!--  第2步  -->
    <div id="steps-two" style="display: none;">
        <table class="layui-hide" id="tableId" lay-filter="select-admin"></table>
    </div>
    <!--  第3步  -->
    <div id="steps-three" style="display: none;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>会员身份确认</legend>
        </fieldset>
        <form class="layui-form " action="">
            <div class="layui-form-item">
                <label class="layui-form-label">顾客信息：</label>
                <div class="layui-input-block">
                    <input type="radio" lay-filter="customer-filter" name="customer" value="0" title="散客" checked="">
                    <input type="radio" lay-filter="member-filter" name="customer" value="1" title="会员">
                    <button type="button" class="layui-btn confirm-customer-type-btn" lay-filter="">确认</button>
                </div>
            </div>
            <div id="customer-part" class="layui-form-item" style="display: none;">
            </div>
            <div id="member-part" class="layui-form-item" style="display: none;">
                <label class="layui-form-label">会员手机号:</label>
                <div class="layui-input-block">
                    <input type="text" name="name" class="memberPhone" style="width:200px; height:40px;" lay-verify="required" lay-reqtext="手机号不可为空！" placeholder="请输入会员手机号" autocomplete="off" class="layui-input">
                </div>
                <p id="memberResultText"></p>
            </div>
        </form>
</div>
    <!--  第4步  -->
    <div id="steps-four" style="display: none;">
        <form class="layui-form ">
            <!--显示订单详情-->
            <div class="layui-form-item">
                <p id="ordersText"></p>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">支付方式：</label>
                <div class="layui-input-block">
                    <input type="radio" lay-filter="" name="payType" value="0" title="现金" checked="">
                    <input type="radio" lay-filter="" name="payType" value="1" title="微信">
                    <input type="radio" lay-filter="" name="payType" value="2" title="支付宝">
                    <input type="radio" lay-filter="" name="payType" value="3" title="刷卡">
                    <input type="radio" lay-filter="" name="payType" value="4" title="其它">
                    <input type="radio" lay-filter="" name="payType" value="5" title="会员卡余额">
                    <button type="button" class="layui-btn pay-btn" lay-filter="">确认支付</button>
                </div>
            </div>
            <div class="layui-form-item" id="balance-recharge" style="display: none;">
                <label class="layui-form-label">充值金额:</label>
                <div class="layui-input-block">
                    <input type="text" name="name" class="balance-recharge-txt" style="width:200px; height:40px;" lay-verify="required" lay-reqtext="充值金额不可为空！" placeholder="请输入充值金额" autocomplete="off" class="layui-input">
                    <button type="button" class="layui-btn balance-recharge-btn" lay-filter="">充值</button>
                </div>
            </div>
            <!--显示会员充值结果-->
            <div class="layui-form-item">
                <p id="memberAddBalanceText"></p>
            </div>
        </form>

    </div>
    <!--  第5步  -->
    <div id="steps-five" style="display: none;">
        <!--显示支付详情-->
        <div class="layui-form-item">
            <p id="ordersSuccessText"></p>
        </div>
        <img src="../../Static/img/orders/paySuccess.jpg" width="200" height="200" alt=""/>

    </div>

<script src="../../Static/js/layui/layui.js" charset="utf-8"></script>
<script src="../../Static/js/layui/layui.all.js" charset="utf-8"></script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="confirm-btn">预约</a>
</script>

</body>
</html>

<script>
  layui.config({
    base: '../../Static/js/layui/plugins/'
  });

  layui.use(['element','laypage','steps','table','form'], function(){
    var $ = layui.$;
    var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    var listMap = {};  //存放各面板信息
    var laypage = layui.laypage;  //分页
    var steps = layui.steps;
    var table = layui.table;
    var form = layui.form;
    var memberData=[];  //存放手机号成功查询的会员数据
    var serviceTypeId = 0;  //选中服务类型id
    var serviceTypeName = '';  //选中服务类型名称
    var serviceTypePrice = 0;  //选中服务类型价格
    var adminId = 0;  //选中员工id
    var adminName='';  //选中员工姓名
    var memberPhone =0;  //会员手机号
    var customerVal=0;  //顾客信息，0：散客，1会员
    var payType=0;  //支付类型，0：现金，1：微信，2：支付宝，3：刷卡，4：其它，5：会员卡余额
    var newBalance=0; //会员卡余额
    var difference=0;
    var data = [
      {'title': "选择服务", "desc": ""},
      {'title': "人员选择", "desc": ""},
      {'title': "是否会员", "desc": ""},
      {'title': "订单生成", "desc": ""},
      {'title': "完成", "desc": ""}
    ];
    steps.make(data, '#steps', 0);

    $(function () {
      requestList({page:1, limit:10});      //每次加载该页面，请求加载服务类型列表
    });

    //监听 选择服务->"选定"按钮，on方法动态绑定元素jq动态生成的HTML元素service-panel
     $(document).on('click','.select-service-btn',function(){
       var objectId = $(this).data('id');  //获取当前对象id
       var result=listMap[objectId];  //当前对象面板内容
       layer.confirm('确认选择该服务类型？', {
      btn: ['确认', '取消'] //可以无限个按钮
      ,btn1: function(index) {
           serviceTypeId = objectId;  //选择服务类型id
           serviceTypeName=result.name;  //选择服务类型名称
           serviceTypePrice=result.price;  //选择服务类型价格
        layer.close(index);  //关闭弹框
        steps.make(data, '#steps', 1);
        document.getElementById("steps-one").style.display="none";//隐藏"选择服务"部分
        document.getElementById("steps-two").style.display="";//显示"人员选择"部分
      }
    })
  });

    //step-one请求服务类型表，展示"服务类型"列表
    function requestList(params) {
      $.ajax({
        url: "http://0.0.0.0:9501/ServiceType/select",
        data: params,  //设置当前页码，每页多少条数据
        success: function (result) {
          $('.panel-container').html('');  //清空当前面板信息
          //设置每个面板中的展示文字+字段值
          result.result.data.map(function (item) {
            listMap[item.id] = item;  //各面板item以id存放
            var dom =
              "<div class='service-panel' >\n"
              + "<img style='width: 300px;height:200px;' src='../../Static/img/service/"+item.picture+"'>\n"
              + "<span>服务名称:</span>" +item.name+"<br>"
              + "<span>价格:</span>" +item.price+"<br>"
              + "<span>简介:</span>" +item.introduction+"<br>"
              + "<button data-id="+item.id + " type=\"button\" class=\"layui-btn layui-btn-xs detail-btn\">细节</button>"
              + "<button data-id="+item.id+" type=\"button\" class=\"layui-btn layui-btn-xs select-service-btn\">选定</button>"
              + "</div>";
            $('.panel-container').append(dom);  //每个面板下插入信息
          });

          count = result.result.count;  //总条数

          //分页完整功能
          laypage.render({
            elem: 'pages'  //指向存放分页的容器
            ,curr: params.page
            ,limit: params.limit
            ,count: count  //数据总记录数
            ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']  //自定义排版
            ,jump: function(obj, first){
              if(first){  //首次执行
                return false;
              }
              requestList({page:obj.curr, limit:obj.limit});  //当前页，当前条数
            }
          });
        },
        error: function (result) {
          layer.msg(result.responseJSON.msg, {icon: 5});
        }
      });

    }

    //-------请求接口，加载员工列表
    table.render({
      elem: '#tableId'
      , url: 'http://0.0.0.0:9501/Admin/index'
      , parseData: function (res) {
        return {
          code: 0,
          msg: res.msg,
          count: res.result.count,
          data: res.result.data
        };
      }
      , cols: [[
        {field: 'id', title: 'ID', width: 100,align: 'center'}
        , {field: 'name', title: '姓名', align: 'center'}
        , {field: 'sex_txt', title: '性别', align: 'center'}
        , {field: 'employee_type_txt', title: '类型', align: 'center'}
        , {field: 'phone', title: '手机号',  align: 'center'}
        , {field: 'opt', title: '操作', width: 178, fixed: 'right', toolbar: '#barDemo', align: 'center'}
      ]]
      , page: true,
    });

    //-------监听行工具事件
    table.on('tool(select-admin)', function (obj) {  //注：tool是工具条事件名，test2 是 table 原始容器的属性 lay-filter="对应的值"
      //将PHP生成的json字符串赋值给js变量
      var result = obj.data;  //得到当前行数据
      //点击'选定'按钮
      if (obj.event === 'confirm-btn') {
        layer.confirm('是否选定该员工？', {
          btn: ['确认', '取消'] //可以无限个按钮
          ,btn1: function(index) {
            adminId=result.id;
            adminName=result.name;
            layer.close(index);  //关闭弹框
            steps.make(data, '#steps', 2);
            document.getElementById("steps-one").style.display = "none";//隐藏"选择服务"部分
            document.getElementById("steps-two").style.display = "none";//隐藏"选择服务"部分
            document.getElementById("steps-three").style.display = "";//显示"是否会员"部分
          }
        })
      }
  });

    //监听"第3步-是否会员-散客"事件
    form.on('radio(customer-filter)', function(data){
      document.getElementById("customer-part").style.display="";  //显示散客
      document.getElementById("member-part").style.display="none";  //隐藏会员
    });

    //监听"第3步-是否会员-会员"事件
    form.on('radio(member-filter)', function(data){
      document.getElementById("member-part").style.display="";  //显示会员
      document.getElementById("customer-part").style.display="none";  //隐藏散客
    });

    //监听第3步->是否会员"确认"按钮
    $(".confirm-customer-type-btn").click(function() {
      customerVal = $('input[name="customer"]:checked').val();
      if(customerVal==="0"){
        steps.make(data, '#steps', 3);
        document.getElementById("steps-one").style.display = "none";//隐藏"选择服务"部分
        document.getElementById("steps-two").style.display = "none";//隐藏"选择服务"部分
        document.getElementById("steps-three").style.display = "none";//隐藏"是否会员"部分
        document.getElementById("steps-four").style.display = "";//显示"订单生成"部分
        var ordersText = $('#ordersText');
        ordersText.html('<span style="color: #4cae4c;">' +
          '【顾客】订单信息如下！！！'+"<br>"+
          '服务名称：'+serviceTypeName+"<br>"+
          '价格：'+serviceTypePrice+"<br>"+
          '服务人员：'+adminName+"<br>"+
          '</span>');
      } else{
        memberPhone = $.trim($('.memberPhone').val());
        //用户名,密码输入规范判断
        if(memberPhone == '')
        {
          layer.msg('手机号不可为空！');
        }else{
          $.ajax({
            type: "POST",
            url: "http://0.0.0.0:9501/member/select",
            data: {phone: memberPhone},
            success: function (result) {  //手机号存在
              layer.msg(result.msg);
              memberData=result.result.result;
              steps.make(data, '#steps', 3);
              document.getElementById("steps-one").style.display = "none";//隐藏"选择服务"部分
              document.getElementById("steps-two").style.display = "none";//隐藏"选择服务"部分
              document.getElementById("steps-three").style.display = "none";//隐藏"是否会员"部分
              document.getElementById("steps-four").style.display = "";//显示"订单生成"部分
              var ordersText = $('#ordersText');
              ordersText.html('<span style="color: #4cae4c;">' +
                '【会员】订单信息如下！！！'+"<br>"+
                '服务名称：'+serviceTypeName+"<br>"+
                '价格：'+serviceTypePrice+"<br>"+
                '服务人员：'+adminName+"<br>"+
                '手机号：'+memberPhone+"<br>"+
                '</span>');
            },
            error: function () {  //手机号不存在
              var memberResultText = $('#memberResultText');
              memberResultText.html('<span style="color: #FF5722;">该手机号未注册会员，请确认手机号是否输入正确！</span>'
              );          }
          });
        }
      }

    });

    //监听第4步->"确认支付"按钮
    $(".pay-btn").click(function() {
      payType = $('input[name="payType"]:checked').val();  //支付类型
      if(customerVal==="0"){  //散客
        var payType=Number(payType);
        if(payType===5){
          layer.msg("非会员不可使用会员卡余额支付！", {icon: 5});
        }else{
          addOrders();
        }
      }else{  //会员
        if(payType=5){  //会员卡余额支付
          $.ajax({
            type: "POST",
            url: "http://0.0.0.0:9501/member/select",
            data: {phone: memberPhone},
            success: function (result) {  //手机号存在
              layer.msg(result.msg);
              memberData=result.result.result;
              newBalance=memberData.balance;  //最新会员卡余额
              difference=Number(newBalance-serviceTypePrice);  //会员余额-价格
              if(difference>=0){  //会员卡余额可用于支付
                updateBalance();  //扣款
              }else {  //余额不足
                layer.msg("该会员账户余额不足，请及时充值", {icon: 5});
                //显示"充值"部分
                $('#balance-recharge').show();
              }
              },
            error: function () {  //手机号不存在
              var memberResultText = $('#memberResultText');
              memberResultText.html('<span style="color: #FF5722;">该手机号未注册会员，请确认手机号是否输入正确！</span>'
              );          }
          });
        }else{  //非会员卡支付
          addOrders();
        }
      }
    });

    //会员卡"充值"按钮
    $(".balance-recharge-btn").click(function() {
      var balanceRechargeTxt =Number($.trim($('.balance-recharge-txt').val()));
      var addBalance=newBalance+balanceRechargeTxt;  //会员余额+充值金额
      //用户名,密码输入规范判断
      if(balanceRechargeTxt == '')
      {
        layer.msg('充值金额不可为空！');
      }else if(balanceRechargeTxt<100){
        layer.msg('充值金额至少100！');
      } else{
        //会员卡余额充值
        $.ajax({
          type: "POST",
          url: "http://0.0.0.0:9501/member/updateBalance",
          data: {
            phone:memberPhone,
            balance:addBalance  //将新的余额更新到库表
          },
          success: function (balanceResult) {  //充值成功
            var memberAddBalanceText = $('#memberAddBalanceText');
            memberAddBalanceText.html('<span style="color: #4cae4c;">' +
              '会员卡充值成功！'+"<br>"+
              '您的会员卡余额：'+addBalance.toString()+"<br>"+
              '</span>');
          },
          error: function (balanceResult) {  //失败
            var memberAddBalanceText = $('#memberAddBalanceText');
            memberAddBalanceText.html('<span style="color: #FF5722;">' +
              '会员卡充值失败！'
              +'</span>');
          },
        });

      }
    });

    //创建订单到数据库
    function addOrders() {
      $.ajax({
        type: "POST",
        url: "http://0.0.0.0:9501/orders/index",
        data: {
          pay_type:payType,
          customer_type:customerVal,
          member_phone:memberPhone,
          should_amount:serviceTypePrice,
          real_amount: serviceTypePrice,
          service_type_id:serviceTypeId,
          service_type_name:serviceTypeName,
          admin_id:adminId,
          admin_name:adminName,
        },
        success: function (result) {  //添加订单成功
          layer.msg(result.msg, {icon: 1}, function () {});
          steps.make(data, '#steps', 3);
          document.getElementById("steps-one").style.display = "none";//隐藏"选择服务"部分
          document.getElementById("steps-two").style.display = "none";//隐藏"选择服务"部分
          document.getElementById("steps-three").style.display = "none";//隐藏"是否会员"部分
          document.getElementById("steps-four").style.display = "none";//隐藏"订单生成"部分
          document.getElementById("steps-five").style.display = "";//显示"完成"部分
        },
        error: function (result) {  //失败
          layer.msg(result.responseJSON.msg, {icon: 5});
        },
      });
    }

    //会员卡余额"扣款"
    function updateBalance(){
        $.ajax({
          type: "POST",
          url: "http://0.0.0.0:9501/member/updateBalance",
          data: {
            phone:memberPhone,
            balance:difference  //将新的余额更新到库表
          },
          success: function (balanceResult) {  //支付成功
            var ordersSuccessText = $('#ordersSuccessText');
            ordersSuccessText.html('<span style="color: #4cae4c;">' +
              '支付成功！'+"<br>"+
              '您的会员卡余额：'+difference.toString()+"<br>"+
              '</span>');
            //生成订单
            addOrders();
          },
          error: function (balanceResult) {  //失败
            layer.msg(balanceResult.responseJSON.msg, {icon: 5});
          },
        });
    }

    });
</script>
